.flex {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
    color: white;
    /* flex-direction: row; */
  }
  .flex2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* border: 1px solid white; */
  }
  
  p {
    font-weight: bold;
    font-size: 13px;
    color: white;
    /* border: 1px solid white; */
    padding-right: 2rem;
    font-size: 0.8rem;
  }
  
  .link {
    width: 70%;
    margin-left: 90px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: right;
    align-items: left;
  }
  
  .contents {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    text-align: start;
  }
  .contents a {
    font-size: 14px;
    color: grey;
    text-align: left;
    align-items: flex-start;
  }
  .contents a:hover {
    color: rgb(170, 34, 233);
  }
  .contens div {
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
  }
  
  .cright {
    width: 65%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }