.container {
    width: 900px;
    height: 560px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 100px;
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding-top: 3rem;
  }
  
  .left {
    width: 49%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  
  .left h1 {
    margin-top: 20px;
    font-size: x-large;
    font-weight: bold;
  }
  
  .left img {
    width: 35px;
    height: 35px;
  }
  .flex {
    display: flex;
    text-align: left;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    color: black;
    justify-content: space-between;
  }
  .flex p {
    color: black;
    font-weight: 100;
    font-size: 16px;
  }
  
  .right {
    width: 49%;
    height: 100%;
    color: black;
  }
  
  .box1 {
    width: 95%;
    height: 30%;
    border: 1px dashed black;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background: rgb(241, 238, 238);
  }
  .box2 {
    width: 95%;
    height: 18%;
    border: 1px dashed black;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    background: rgb(241, 238, 238);
  }
  .box1 h1 {
    color: black;
  }
  
  .flex2 {
    display: flex;
    justify-content: space-between;
  }
  
  .off {
    background: rgb(84, 159, 230);
    padding: 4px;
    border-radius: 3px;
    margin: auto;
    margin-top: 10px;
    margin-left: 10px;
  }
  .off2 {
    border: 1px solid rgb(226, 61, 89);
    color: rgb(226, 61, 89);
    background: transparent;
    padding: 4px;
    border-radius: 3px;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .price {
    display: flex;
    flex-direction: column;
  }
  
  .price2 {
    display: flex;
    flex-direction: row;
  }
  .price p {
    color: black;
    font-weight: 100;
  }
  .price h1 {
    font-weight: bold;
    font-size: large;
  }
  .flex3 {
    display: flex;
    width: 95%;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;
    margin-top: 10px;
  }
  
  .line {
    border-bottom: 1px dashed black;
  }
  .innerbox {
    width: 100%;
    height: 10%;
  }
  
  .innerbox p {
    color: black;
    margin: auto;
    margin-top: -25px;
  }